<!DOCTYPE html>
<html lang="ru">
<head>
    <title>О себе</title>
    <link href="styles.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<#include "header.html">
<b>Работу выполняла:</b> <ins>${studentName}</ins>
<br/><b>Номер группы:</b> <ins>${studentGroup}</ins>
<br/><b>Номер индивидуального задания:</b> <ins>1</ins>
<br/><b>Текст индивидуального задания:</b> <ins>Найти максимальное значение серди множества чисел</ins>
<!--Это страничка для лабораторной работы по дисциплине разработка клиент-серверных приложений
Ее сделала Олевская Анна, студент группы ИКБО-16-17
В пятой лабораторной мы изучаем FreeMaker
Кодировки - сложная вещь, и русский язык здесь работает ну очень странно
Этот комментарий находится здесь для общего развития, а также ради успеха в подгрузке разметки-->


</body>
</html>
