<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Таблица собак</title>
    <link href="styles.css" rel="stylesheet" type='text/css'>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<#include "header.html">
<br>
<table id="table">

    <caption>Собаки</caption>
    <tr><th>ID</th><th>Кличка</th><th>Порода</th><th>Пол</th><th>Возраст</th> </tr>
    <#list dogs as d>
    <tr><td>${d.getId()}</td>
    <td>${d.getName()}</td>
    <td>${d.getBreed()}</td>
    <td>${d.getSex()}</td>
    <td>${d.getAge()}</td>
    </tr>
    </#list>

</table>
<div id="zatemnenie" class = "zatemnenie">
    <div id="okno" class="okno">
        Новая собака<br>
        <p><label for="name">Кличка собаки </label><input type="text" id="name" oninput="checkInputText(this)" ></p>
        <p><label for="breed">Порода собаки </label><input type="text" id="breed" oninput="checkInputText(this)"></p>
        <p><label for="sex">Пол собаки </label><input type="text" id="sex" oninput="checkInputSex(this,1)"></p>
        <p><label for="age">Возрат собаки </label><input type="text" id="age" onInput="checkLength(5,this)" onKeyPress ="if ((event.keyCode < 48) || (event.keyCode > 57)){
  event.returnValue = false; alert('Неверный ввод. Поддерживаются только цифры');}"></p>
        <a href="#"  id="closebutton" class="close" onclick="preAddRow('table')">Сохранить</a>
    </div>
</div>
<form action="#zatemnenie">
    <button class="knopka" type="submit">Добавить запись</button>
</form>

<div id="zatemnenie_change" class = "zatemnenie">
    <div id="okno_change" class="okno">
        Редактируем собаку<br>
        <p><label for="namenew">Кличка собаки </label><input type="text" id="namenew" oninput="checkInputText(this)" ></p>
        <p><label for="breednew">Порода собаки </label><input type="text" id="breednew" oninput="checkInputText(this)"></p>
        <p><label for="sexnew">Пол собаки </label><input type="text" id="sexnew" oninput="checkInputSex(this,1)"></p>
        <p><label for="agenew">Возрат собаки </label><input type="text" id="agenew" onInput="checkLength(5,this)" onKeyPress ="if ((event.keyCode < 48) || (event.keyCode > 57)){
  event.returnValue = false; alert('Неверный ввод. Поддерживаются только цифры');}"></p>
        <a href="#"  id="closebuttonnew" class="close">Сохранить</a>
    </div>
</div>
<script src="tablework.js"></script>
<script>
    loader();
</script>
<!--Это страничка для лабораторной работы по дисциплине разработка клиент-серверных приложений
Ее сделала Олевская Анна, студент группы ИКБО-16-17
В пятой лабораторной мы изучаем FreeMaker
Кодировки - сложная вещь, и русский язык здесь работает ну очень странно
Этот комментарий находится здесь для общего развития, а также ради успеха в подгрузке скриптов-->
</body>
</html>